label.error
{
color: red;
}
input.error 
{
border: 1px solid red;
}
input.valid
{
border: 2px solid green;
}
#studentForm
{
backgroud:white;
max-width: 900px;
margin: auto;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
}
.form-row
{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 30px;
row-gap: 2px;
}

#lb
{
margin-bottom: 5px;
font-weight: bold;
}

input[type="text"],
input[type="email"]
{
padding: 8px;
border-radius: 4px;
border: 1px solid #ccc;
}

.error-message
{
font-size: 13px;
color: red;
grid-column: span 2;
}

#submitBtn
{
  padding: 10px 20px;
  background-color: #2c2c9e;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#submitBtn:hover
{
transform:scale(1.03,1.03);
}

